body
{
    background: url(https://2x2tv.ru/upload/resize_cache/iblock/514/975_457_2/514db6ef26818255a55bc3107be40948.jpg);
    background-size: 105%;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
.kategorii{
	font-family: ;
	font-size: 47px;
	color: #FFFF00;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
.guitar {
	font-family: Arial;
	font-size: 35px;
	color: #FFFFFF !important;
	text-shadow:
		-0   -2px 1px #000000,
		 0   -2px 1px #000000,
		-0    2px 1px #000000,
		 0    2px 1px #000000,
		-2px -0   1px #000000,
		 2px -0   1px #000000,
		-2px  0   1px #000000,
		 2px  0   1px #000000,
		-1px -2px 1px #000000,
		 1px -2px 1px #000000,
		-1px  2px 1px #000000,
		 1px  2px 1px #000000,
		-2px -1px 1px #000000,
		 2px -1px 1px #000000,
		-2px  1px 1px #000000,
		 2px  1px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000,
		-2px -2px 1px #000000,
		 2px -2px 1px #000000,
		-2px  2px 1px #000000,
		 2px  2px 1px #000000;
}
